<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>

<h1>Seja bem vindo</h1>
<p>Peças de roupas a vontade.</p>
<p>Mais detalhes na rua fantasia.</p>
<ion-card>
  <iframe width="250" height="150" src="https://www.youtube.com/embed/1aq8A_eHTqA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-card>

  <app-explore-container name="Início"></app-explore-container>
</ion-content>
